img {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 0%;
    }
  
    to {
      margin-left: 0%;
      width: 20%;
    }
  }
